<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Fragments</title>
</head>
<body>
    <h1>Welcome, User</h1>
        <p>
            <a th:href="@{/}">Generate your service profile.</a>
        </p>
<!--    <div >-->
<!--        <ul th:each="user: ${users}">-->
<!--            <li th:text="${user.username}">-->
<!--                <a th:href=""></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</body>
</html>